{% extends 'base.html' %}

{% block title %}
    О нас
{% endblock %}

{% block body %}
    <h1>Немного о нас</h1>
    <h2>Баскетбольный магазин Grand Basket</h2>
    <p style="text-align:center"> Магазин кроссовок и спортивной одежды Grand Basket работает с 2023 года.
        Мы официально продаём оригинальные кроссовки, одежду и аксессуары от ведущих мировых спортивных брендов.
        В нашем ассортименте присутствует не только мужская но и женская спортивная одежда и обувь.
        Мы постоянно стремимся к поставке эксклюзивного продукта и свежих релизов, чтобы соответствовать высокому уровню
        и отвечать запросам клиентов.</p>
    <style>
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }
        p{
            width: 40%;
            margin-left: 450px;
        }
    </style>
{% endblock %}