{% extends 'base.html' %}

{% block title %}
Админ меню
{% endblock %}

{% block body %}
<div class="login mb-5">
    <h1>Удалить товар</h1>
  <div class="links">
        <a href="{{ url_for('admin') }}">ДОБАВИТЬ</a>
        <a href="{{ url_for('delete') }}" class="active">УДАЛИТЬ</a>
    </div>
    <form id="form" method="post">
        <label for="name">
            <i class="fa fa-user"></i>
        </label>
        <input type="text" name="name" placeholder="Название товара" id="name" required>
        <div class="msg"><span style="color:red; font-size: 18px">{{ msg }}</span></div>
        <div class="msg"><span style="color:green; font-size: 18px">{{ msgr }}</span></div>
        <input type="submit" value="Удалить">
    </form>
</div>


<style>
    * {
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    table {
        display: flex;
        justify-content: center;
        border-collapse: separate;
        border-spacing: 50px 3px;
        text-align: center;
        font-size: 18px;
    }

    label {
        margin-bottom: 10px;
    }

    .links {
        justify-content: center;
    }
</style>
{% endblock %}